.navbar {
  background-color: var(--color-primary);
  height: 74px;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  padding: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}